<!DOCTYPE html>
<style>
    nav {
        box-shadow: inherit;
        border-style: hidden;
        background-color: #272727;
        border-bottom-style: solid;
        border-bottom-color: #747474;
    }

    body {
        background-color: #272727 !important;
        position: relative;
        height: 100%;
        min-height: 1080px;
        width: 100%;
        min-width: 1080px;
    }

    footer {
        position: sticky;
        bottom: 0;
        width: 100%;
        background-color: #272727;
        border-top-style: solid;
        border-top-color: #747474;
    }

    .content-wrap {
        font-family: Arial;
        color: #ffffff;
        font-size: 24px;
        text-decoration: none;
    }

    .titlenav {
        color: #14A76C !important;
        padding-right: 3rem;
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TFT_Stats</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-customblack box-shadow mb-4">
            <div class="container">
                <a class="navbar-brand titlenav" asp-area="" asp-controller="Home" asp-action="Index">TFT_Stats</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="CompanionView">Companions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container content-wrap">
            &copy; 2021 - TFT_Stats
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
