@{
    ViewData["Title"] = "Home Page";

}

<style>
    h4 {
        font-size: 2em;
    }
</style>

<div class="text-center">
    <h1 class="display-3">TFT_Stats</h1>
    <h1 class="display-4">Statistics on The Most Popular Little Legends</h1>
    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/loadouts/companions/tooltip_akalidragon_beatmaker_tier2.png" alt="Trulli" width="500" height="333">
</div>
