@model IEnumerable<TFT_Stats.Models.ViewModel.CompanionVM>
@{
    ViewData["Title"] = "Home Page";

}
<!DOCTYPE html>

<style>

    body, footer {
        color: white;
        font-family: Arial, sans-serif;
    }

    div.top3 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
    }

        div.top3 p {
            margin-top: 0;
            color: #FFFFFF;
            font-size: 50px;
        }

            div.top3 p span.score {
                font-weight: bold;
            }


    .title {
        margin-left: 25%;
        margin-bottom: 2rem;
        max-width: 50%;
        width: auto;
        box-shadow: 0.5rem 0.5rem #ffffff, -0.5rem -0.5rem #ffffff;
    }

    .top3-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    /* Button */
    .btn {
        background: #272727;
        border-radius: 28px;
        border-color: white;
        text-shadow: 1px 1px 0px #000000;
    }

        .btn:hover {
            background: #14A76C;
            text-decoration: none;
        }

        .btn a {
            font-family: Arial;
            color: #ffffff;
            font-size: 26px;
            padding: 13px;
            text-decoration: none;
        }

    .tilesWrap {
        padding: 0;
        margin: 50px auto;
    }

        .tilesWrap li {
            display: inline-block;
            width: 33%;
            min-width: 200px;
            max-width: 330px;
            min-height: 200px;
            max-height: 330px;
            padding: 70px 40px 60px;
            position: relative;
            vertical-align: top;
            margin: 10px;
            font-family: 'helvetica', san-serif;
            text-align: left;
            left: -2px;
            right: -2px;
            bottom: -2px;
            z-index: -1;
            border-style: solid;
            border-width: 4px;
            border-radius: 15px;
            background-color: #272727;
        }

    img {
        min-height: auto;
        max-width: 250px;
        border-radius: 15px;
    }

    .gold img {
        box-shadow: 0px 0px 55px 0px rgba(255,217,0,0.9);
    }

    .silver img {
        box-shadow: 0px 0px 55px 0px rgba(192,192,192,0.9);
    }

    .bronze img {
        box-shadow: 0px 0px 55px 0px rgba(205,127,50,0.9);
    }

    ol, li { /* CSS reset: make lists not work like lists */
        list-style: none;
    }

    ol {
        display: flex;
    }


    li.silver {
        order: -1;
        transform: scale(0.90);
    }

    li.bronze {
        transform: scale(0.80);
    }

    li span.score {
        position: absolute;
        font-size: 35px;
        min-width: 50px;
        min-height: 20px;
        top: 5px;
        left: 5px;
        text-align: center;
        border-right: solid;
        border-bottom: solid;
        border-right-width: 5px;
        border-bottom-width: 5px;
    }

</style>

<body>
    <div class="top3-container">
        <div class="title text-center">
            <h1 class="display-4"><b>Top 3 Little Legends</b></h1>
        </div>

        <div class="top3 text-center">
            <ol class="tilesWrap">
                <li class="gold"><img class="cImage" alt="first" src=@ViewBag.First> <span class="score">1</span></li>
                <li class="silver"><img class="cImage" alt="second" src=@ViewBag.Second> <span class="score">2</span></li>
                <li class="bronze"><img class="cImage" alt="third" src=@ViewBag.Third> <span class="score">3</span></li>
            </ol>
        </div>

        <div class="text-center">
            <button class="btn">
                @Html.ActionLink("View All Little Legends", "CompanionView", new {sortOrder = ViewBag.Count}, new {@class = "action-button"})
            </button>
        </div>
    </div>
</body>
